{% extends 'base.html' %}
{% load static %}
{% block title %}Blossom Therapy Insights | {{ profile.username }}{% endblock %}
{% block content %}
<div class="container mt-5 py-5">
    <div class="card justify-content-center">
                <div class="row">
                    <div class="col-xl-4 col-lg-12 bg-c-lite-green text-center text-white">
                        <div class="col-sm-12">
                            <h3 class="m-3">{{ profile.username }}</h3>
                            {% if "image" in profile.profile_picture %}
                            <img src="{% static 'images/placeholder_profile.jpg' %}" class="img-radius w-25 mb-5"
                                alt="Profile Placeholder" loading="lazy">
                            {% else %}
                            <img src="{{ profile.profile_picture.url }}" class="img-radius w-25 mb-5" alt="Profile Picture"
                                loading="lazy">
                            {% endif %}
                        </div>
                        <a href="{% url 'profile-insights' profile.username %}""
                            class="btn btn-outline-discovery m-2">
                            <i class="fas fa-book" aria-hidden="true"></i> Insights
                        </a>
                        {% if user.is_authenticated and user.id == profile.id %}
                        <a href="{% url 'profile-drafts' user.username %}"
                            class="btn btn-outline-discovery m-2">
                            <i class="fa fa-pencil" aria-hidden="true"></i> My
                            Drafts
                        </a>
                        <a href="{% url 'profile-favourites' user.username %}"
                            class="btn btn-outline-discovery m-2">
                            <i class="fas fa-heart" aria-hidden="true"></i> My
                            Favourites
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-sm-8">
                        <div class="card-body">
                            <h3 class="mb-4 pb-2 border-bottom">Profile
                                Summary</h3>
                            <div class="row">
                                <div class="col-sm-6 mb-3">
                                    <p class="mb-1 fw-bold">Full Name:</p>
                                    <h6 class="text-muted">{{ profile.first_name }}
                                        {{ profile.last_name }}</h6>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <p class="mb-1 fw-bold">Location:</p>
                                    <h6 class="text-muted">{{ profile.profile.location }}</h6>
                                </div>
                                <div class="col-sm-12 mb-3">
                                    <p class="mb-1 fw-bold">Bio:</p>
                                    <h6 class="text-muted">{{ profile.profile.bio }}</h6>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <p class="mb-1 fw-bold d-inline">Insights <i class="fa fa-thumbs-up"></i>: {{ total_likes }}</p>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <p class="mb-1 fw-bold">Insights <i class="fa fa-heart"></i>: {{ total_favourites }}</p>
                                </div>
                                {% if user.is_authenticated and user.id == profile.id %}
                                <div class="py-5 text-center">
                                    <a href="{% url 'profile-update' user.id %}" role="button" class="btn btn-info m-3">
                                        <i class="fas fa-user-edit"></i> Update
                                        Profile
                                    </a>
                                    <a href="{% url 'account_change_password' %}" role="button"
                                        class="btn btn-warning m-3">
                                        <i class="fas fa-user-lock"></i> Change
                                        Password
                                    </a>
                                    <a href="{% url 'profile-delete' user.id %}" role="button"
                                        class="btn btn-danger m-3">
                                        <i class="fas fa-user-slash"></i> Delete
                                        Account
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}