{% extends 'base.html' %} 
{% load static %} 
{% block title %}Blossom Therapy Insights | {{ profile.username }} Insights{% endblock %}
{% block content %}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 bg-light border">
            <h4 class="text-center mt-4">My Posts</h4>
            <hr class="my-0">
            <div class="row justify-content-center">
                {% for post in insights %}
                <div class="col-lg-6 col-md-6 mb-6 mt-2">
                    <div class="card p-3">
                        {% include 'insights/list_cards.html' %}
                        <a href="{% url 'insight-details' post.slug %}" class="btn btn-primary btn-sm mx-1">Read</a> 
                    </div>
                </div>
                {% empty %}
                <p>No Posts yet.</p>
                {% endfor %}
                
            </div>
        </div>
        <!-- <div class="col-md-6 bg-light border">
            <h4 class="text-center">Favourites</h4>
        </div> -->
    </div>
</div>
{% include 'insights/pagination.html' %}
{% endblock content %}