{% extends 'base.html' %}
{% load static %}

{% block title %}Blossom Therapy Insights | {{ profile.username }} Drafts{% endblock %}

{% block content %}
<div class="container mt-5">
  <!-- Button to return to the profile page -->
  <button class="btn btn-info txt-btn mb-1" onclick="history.back()">Return to Profile</button>
  <div class="col-md-12">
    <h4 class="text-center mt-4">My Drafts</h4>
    <hr class="hr hr-blurry">
    <div class="row justify-content-center">
      <!-- Loop through drafts and display each post -->
      {% for post in drafts %}
      <div class="col-lg-4 col-md-6 m-5">
        {% include 'components/list-cards.html' %}
      </div>
      {% empty %}
      <!-- Message when there are no drafts -->
      <p>No Drafts yet.</p>
      {% endfor %}
    </div>
  </div>
  {% include 'components/pagination.html' %}
</div>
{% endblock content %}