{% extends 'base.html' %} 
{% load static %} 
{% block title %}Blossom Therapy Insights | {{ profile.username }} Insights{% endblock %}
{% block content %}
<div class="container mt-5">
    <button class="btn btn-info mb-1" onclick="history.back()">Return to Profile</button>
    <div class="col-md-12">
        <h3 class="text-center mt-4">Insights</h3>
        <hr class="hr hr-blurry">
        <div class="row justify-content-center">
                {% for post in insights %}
                <div class="col-lg-4 col-md-6 mb-4 mt-2">
                    {% include 'insights/list_cards.html' %}
                  </div>
                  {% empty %}
                  <p>No Insights yet.</p>
                  {% endfor %}
                </div>
              </div>
             {% include 'components/pagination.html' %}  
            </div>
{% endblock content %}
            