{% extends 'base.html' %} 
{% load static %} 
{% block title %}Blossom Therapy Insights | {{ profile.username }} Favourites{% endblock %}
{% block content %}

<div class="container mt-5">
    <button class="btn btn-info mb-1" onclick="history.back()">Return to Profile</button>
    <div class="col-md-12">
            <h4 class="text-center mt-4">My Favourites</h4>
            <hr class="hr hr-blurry">
            <div class="row justify-content-center">
                {% for post in favourites %}
                <div class="col-lg-4 col-md-6 mb-4 mt-2">
                        {% include 'insights/list_cards.html' %}
                    </div>
                {% empty %}
                <p>No Posts yet.</p>
                {% endfor %}
            </div>
        </div>
    {% include 'insights/pagination.html' %}        
    </div>
{% endblock content %}