{% extends 'base.html' %}
{% block title %} Blossom Therapy | Category Filter {% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <!-- Sidebar column -->
        <div class="col-md-4 mb-5">
            {% include 'components/category-sidebar.html' %}
        </div>
        <!-- Main content column -->
        <div class="col-md-8">
            <h3 class="fw-bold my-5 text-center">
                Posts in Category: {{ category.name }}
            </h3>
            <div class="row">
                {% for post in insights %}
                <div class="col-lg-6 col-md-10 mb-6">
                    <div class="p-4">
                        {% include 'components/list-cards.html' %}
                    </div>
                </div>
                {% empty %}
                <h3 class="text-center">No insights found.</h3>
                {% endfor %}
            </div>
            {% include 'components/pagination.html' %}
        </div>
    </div>
</div>
{% endblock %}
