{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Blossom Therapy Insights | Insights List {% endblock %}

{% block content %}
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-4 mb-5">
      {% include 'includes/category_sidebar.html' %}
    </div>
    <div class="col-md-8">
      <h3 class="fw-bold my-5 text-center">
          {% if search_query %}
          Search Results for: "{{ search_query }}"
          {% elif category %}
          Posts in Category: {{ category.name }}
          {% else %}
          Browse All Insights
          {% endif %}
      </h3>
      <div class="row">
        {% for post in insights %}
        <div class="col-lg-6 col-md-10 mb-6">
          <div class="p-4">
            {% include 'insights/list_cards.html' %}
          </div>
        </div>
        {% empty %}
        <h3 class="text-center">Nothing found .... Feel free to add an Insight.</h3>
        {% endfor %}
      </div>
      {% include 'insights/pagination.html' %}
    </div>
  </div>
</div>

{% endblock %}