/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap');

/* Global Styling */

:root {
  --primary-color: #FF6347; /* Tomato */
  --secondary-color: #46626d;
  --accent-color: #FFD700; /* Gold */
  --light-orange: #edd0b3; /* Light grayish orange */
  --powder-blue: #b0d3e6; 
  --background-color: #ffffff; /* White */
  --text-color: #222020; /* Dark Gray */
  --floral-white: #FCF7F2;
  --ivory: #FFFFF0; /* Ivory */
   
  /* Additional Colors */
  --sea-green: #2E8B57; /* Sea Green */
  --coral: #FF7F50; /* Coral */
  --bean: #381b21;

  --taupe-gray: #8e8581; /* Light Gray */
 

}
*,
*::before,
*::after {margin: 0;
    padding: 0;
    box-sizing: inherit;
}  

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: 'Merriweather', sans-serif;
  font-weight: 300;
  background-color: var(--floral-white);
  min-height: 100vh;
}

a { color: inherit; } 

#bg-footer {
  background-color: var(--light-orange);
}

/* Specific styles for form elements */
.form-control,
.form-select,
.note-editabale {
    font-size: 1.6rem; 
    font-family: inherit; 
}

.btn {
  font-size: 1.2rem; 
  padding: 0.8rem 1.6rem;
}

/* Btns and Fa icons */
.btn.icon {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
}

.navbar {
  background-color: var(--primary-color); 
  font-weight: 400;
}

.bg-c-lite-green {
  background: linear-gradient(to right, var(--primary-color), var(--light-orange));
}

/* Button background color */

.button-style {
  background-color: var(--powder-blue); 
  font-weight: 700;
}

.button-style:hover {
  background-color: var(--light-orange); 
}

/* Button and Fa icons */
.icon {
  font-size: 2rem; 
  color: var(--secondary-color);
}

.icon:hover{
  color: var(--powder-blue);
}

.icon-size {
  padding: 0;
}

/* Insights Image */


.list-img {
    width: 100%;
    max-height: 30vh;
    object-fit: cover; 
}

.post-content {
  word-wrap: break-word; /* Ensure links wrap */
}

/* About Section card layout */

.card-footer {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
}

.card-footer a, .card-footer button {
  text-align: center;
}

/* Rounded author image in list cards and comments */

.author-image {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  float: left;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

#dev-img {
  max-height: 50vh;
}

/* Pagination styles */
.pagination .page-link {
  font-size: 1.2rem; 
  padding: 0.75rem 1.25rem; 
}

.pagination .page-item .page-link {
  border-radius: 0.25rem; 
  margin: 0 0.25rem; /
}


@media (max-width: 1024px) {
  .card .row {
      flex-direction: column;
      max-width: 100%;
  }
  .card .col-md-6 {
      max-width: 100%;
      flex: 0 0 100%;
  }
  .bg-image {
    display: flex;
    justify-content: center;
}
}