{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Blossom Therapy Insights | Edit Insight {% endblock %}

{% block content %}

<div class="row justify-content-center mt-3 mb-5">
    <div class="col-md-5 col-sm-12">
        {% load cloudinary %}
        <form method="POST" enctype="multipart/form-data">
            {{ form | crispy }}
            {% csrf_token %}
            
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-outline-dark">Update</button>
            </div>
        </form>
        <a class="btn" href="{% url 'insight_details' post.slug %}">Cancel</a>
    </div>
</div>

        {% endblock %}