{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div class="blog-single bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mb-4">
                <article class="article bg-white p-4 shadow-sm rounded">
                    {% if "placeholder" in post.featured_image.url %}
                    <a href="{% url 'insight-details' post.slug %}" class="card-link">
                        <img class="insight-detail-img p-4" src="{% static 'images/default.jpg' %}" alt="placeholder image" />
                    </a>
                    {% else %}
                    <a href="{% url 'insight-details' post.slug %}" class="card-link">
                        <img src="{{ post.featured_image.url }}" class="insight-detail-img"
                            alt="Insight Photo {{ post.title }}" loading="lazy">
                    </a>
                    {% endif %}
                    <div class="article-title mb-3">
                        <h6 class="text-secondary">
                            <a href="#">{{ post.category.name }}</a>
                        </h6>
                        <h2 class="card-title">{{ post.title }}</h2>
                        <div class="d-flex align-items-center mt-3 mb-4">
                            <div class="avatar me-3">
                                <img src="{{ post.author.profile.profile_picture.url }}" alt="Profile Picture"
                                    class="rounded-circle" alt="{{ post.author.username }}" width="65" height="65" />
                            </div>
                            <div class="media-body">
                                <p class="mb-0"><strong>{{ post.author.username }}</strong></p>
                                <span class="text-muted">{{ post.created_on|date:"F j, Y" }}</span>
                            </div>
                            {% if request.user == post.author or request.user.is_superuser %}
                            <a href="{% url 'insight-delete' post.slug %}" class="delete-icon">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                            <a href="{% url 'insight-update' post.slug %}" class="update-icon">
                                <i class="fa fa-pencil-square" aria-hidden="true"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="article-content">{{ post.content|safe }}</div>
                    {% if post.status == 0 %}
                    <h4 class="text-center mb-4 pb-2">
                        This Post is waiting for admin approval.
                    </h4>
                    {% else %}
                    <div class="d-flex justify-content-between left_div_btns mb-4">
                        <div>
                            <button class="btn btn-outline-primary" id="like_btn">
                                <i class="fa fa-thumbs-up"></i> Like
                            </button>
                        </div>
                        <div>
                            <button class="btn btn-outline-primary" id="favourite_btn">
                                <i class="fa fa-heart-o"></i> Favourite
                            </button>
                        </div>
                        <div>
                            <button class="btn btn-outline-secondary" onclick="reply('reply1')">
                                Replies <span class="badge bg-white text-dark p-2">1</span>
                            </button>
                        </div>
                    </div>
                    {% endif %}
                </article>
            </div>
        </div>
    </div>
    <section class="gradient-custom">
        <div class="container my-5 py-5">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-8">
                    <div class="card">
                        <div class="card-body p-4">
                            <h4 class="text-center mb-4 pb-2">Leave a Comment</h4>
                            {% for comment in comments %}
                            <div class="mb-4">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img src="{{ comment.author.profile.profile_picture.url }}"
                                            alt="Profile Picture" class="rounded-circle me-3" width="40" height="40" />
                                        <span><strong>{{ comment.author.username }}</strong> | 
                                            {{comment.created_on|date:"F j, Y" }}</span>
                                    </div>
                                    {% if request.user == comment.author or request.user.is_superuser %}
                                    <div>
                                        <a class="text-secondary fw-bolder"
                                            href="{% url 'delete-comment' comment.pk %}">
                                            {% csrf_token %}
                                            <i class="fas fa-trash-alt"></i>Delete</a>
                                        <a class="text-secondary fw-bolder" href="{% url 'edit-comment' comment.pk %}">
                                            {% csrf_token %}
                                            <i class="fas fa-pen"></i>Edit</a>
                                    </div>
                                    {% endif %}
                                </div>
                                <p class="mb-1">{{ comment.content|linebreaks }}</p>
                                <hr class="my-0" />
                            </div>
                            {% empty %}
                            <p>No comments yet.</p>
                            {% endfor %}
                            <!-- Comment form -->
                            <div class="mt-4">
                                {% if user.is_authenticated %}
                                <p class="mb-1">Posting as: {{ user.username }}</p>
                                <form id="commentForm" method="post">
                                    {% csrf_token %} {{ comment_form|crispy }}
                                    <button id="submitButton" type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                </form>
                                {% else %}
                                <p>Log in to leave a comment</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block extras %}
<!-- <script src="{% static 'js/comments.js' %}"></script> -->
{% endblock %}
