{% extends 'base.html' %} 
{% load static %}

{% load crispy_forms_tags %}

{% block title %} Blossom Therapy Insights | Insights List {% endblock %}

{% block content %}
<main class="my-5">
  <div class="container">
    <!--Section: Content-->
    <section class="text-center">
      <h4 class="mb-5"><strong>Latest posts</strong></h4>
      <div class="row">
        {% for post in insights %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
        {% include 'listview_template/list_cards.html' %}
        <a href="{% url 'insight-details' post.slug %}" class="btn btn-primary" data-mdb-ripple-init>Read</a>
      </div>
    </div>
    {% endfor %}
      </div>
  </section>
</div>
</main>
{% include 'listview_template/pagination.html' %}
{% endblock %}