{% extends "base.html" %}

{% block title %}Blossom Therapy Insights | {{profile.username}}{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ profile.user.username }}'s Profile</title>
    <!-- Add Bootstrap CSS here -->
</head>
<body>
    <div class="container">
        <div class="card-footer text-center">
            <a href="{% url 'profile_update' user.id %}" class="btn btn-primary mb-3"><i
                    class="fas fa-user-edit"></i>
                Update Profile</a>
            <a href="{% url 'account_change_password' %}" class="btn btn-primary mb-3">
                <i class="fas fa-user-lock"></i> Change Password</a>
            <a href="{% url 'profile_delete' user.id %}" class="btn btn-danger mb-3"><i
                    class="fas fa-user-slash"></i> Delete Account</a>
        </div>
        <h1>{{ profile.user.username }}'s Profile</h1>
        <img src="{{ profile.profile_picture.url }}" alt="Profile Picture">
        <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Bio: {{ profile.bio }}</p>
        <p>Location: {{ profile.location }}</p>
        <p>Total Likes: {{ profile.total_likes }}</p>
        <p>Total Favourites: {{ profile.total_favourites }}</p>
   </div>
</body>
</html>
 {% endblock content %}