{% extends 'base.html' %} 
{% load static %} 
{% block title %}Blossom Therapy Insights | {{ profile.username }}{% endblock %}
{% block content %}
 <div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-md-12">
            <div class="card user-card-full">
                <div class="row g-0">
                    <div class="col-sm-4 bg-c-lite-green text-center text-white user-profile">
                        <div class="p-3">
                            <h6>{{ profile.user.username }}</h6>
                            {% if "placeholder" in profile.profile_picture.url %}
                            <img src="{% static 'images/profile.jpg' %}" class="img-radius w-50" alt="Profile Placeholder">
                            {% else %}
                            <img src="{{ profile.profile_picture.url }}" class="img-radius w-50" alt="Profile Picture"loading="lazy">
                            {% endif %}
                            <h6 class="mt-3">{{ user.first_name }}</h6>
                            <a href="{% url 'profile-update' user.id %}" class="btn btn-primary my-2">
                                <i class="fas fa-user-edit"></i> Update Profile
                            </a>
                            <a href="{% url 'account_change_password' %}" class="btn btn-primary my-2">
                                <i class="fas fa-user-lock"></i> Change Password
                            </a>
                            <a href="{% url 'profile-delete' user.id %}" class="btn btn-danger my-2">
                                <i class="fas fa-user-slash"></i> Delete Account
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card-body">
                            <h6 class="mb-4 pb-2 border-bottom">Profile Summary</h6>
                            <div class="row">
                                <div class="col-sm-6 mb-3">
                                    <p class="mb-1 fw-bold">Full Name:</p>
                                    <h6 class="text-muted">{{ user.first_name }} {{ user.last_name }}</h6>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <p class="mb-1 fw-bold">Location:</p>
                                    <h6 class="text-muted">{{ profile.location }}</h6>
                                </div>
                                <div class="col-sm-12 mb-3">
                                    <p class="mb-1 fw-bold">Bio:</p>
                                    <h6 class="text-muted">{{ profile.bio }}</h6>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <p class="mb-1 fw-bold">Insights <i class="fa fa-thumbs-up"></i>:
                                    <h6 class="text-muted">{{ total_likes }}</h6></p>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <p class="mb-1 fw-bold">Insights <i class="fa fa-heart"></i>:</p>
                                    <h6 class="text-muted">{{ profile.favourites }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 bg-light border">
            <h4 class="text-center mt-4">My Posts</h4>
            <hr class="my-0">
            <div class="row justify-content-center">
                {% for post in insights %}
                <div class="col-lg-8 col-md-8 mb-6 mt-2">
                    <div class="card p-3">
                        {% include 'listview_template/list_cards.html' %}
                        <a href="{% url 'insight-details' post.slug %}" class="btn btn-primary btn-sm mx-1">Read</a> 
                    </div>
                </div>
                {% empty %}
                <p>No Posts yet.</p>
                {% endfor %}
                
            </div>
        </div>
        <div class="col-md-6 bg-light border">
            <h4 class="text-center">Favourites</h4>
        </div>
    </div>
</div>
{% endblock content %}

