{% extends 'base.html' %}
{% load static %}
{% block title %} Blossom Therapy Insights {% endblock %}
{% block content %}
<!--Main layout-->
<div class="container my-5">
  <div class="row">
    <div class="col-md-6 d-flex align-items-center justify-content-center flex-column">
      <h1 class="primary-color">Discover the Beauty of Gardening</h1>
      <p class="mt-4">Welcome to Blossom Therapy, your go-to destination for all things gardening!
        Whether you're a seasoned green thumb or just starting your gardening journey,
        we're here to help you cultivate a thriving, beautiful, and therapeutic outdoor space.</p>
      {% if user.is_authenticated %}
      <a href="{% url 'add-insight' %}" class="btn rounded mb-0 text-nowrap button-style">Add your Insight</a>
      {% else %}
      <a href="{% url 'account_signup' %}" class="btn rounded mb-5 text-nowrap button-style">Join Us</a>
      {% endif %}
    </div>
    <div class="col-md-6">
      <img src="{% static 'images/hero.jpg' %}" alt="Hero Image" class="img-fluid w-70">
    </div>
  </div>
</div>
<hr class="hr hr-blurry">
<section class="container text-center mt-5">
  <h2 class="primary-color">Why Gardening is More Than a Hobby?</h2>
  <p class="mt-4">Gardening brings joy, tranquility, and a sense of accomplishment. It's a way to connect with nature,
    nurture life,
    and create beauty in your own space. Join our community and find out why so many people find happiness in their
    gardens</p>
</section>
<hr class="hr hr-blurry">
<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- Latest Insights Column -->
    <div class="col-md-10 mb-5">
      <h1 class="text-center my-3">Latest</h1>
      <div class="row justify-content-center">
        {% for post in latest_insights %}
        <div class="col-md-6 mb-4">
            {% include 'insights/list_cards.html' %}
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- Most Popular Insights Column -->
    <div class="col-md-2 mb-5">
      <h1 class="text-center my-3">Most Popular</h1>
      <div class="row justify-content-center">
        {% for post in most_popular %}
        <div class="col-md-12 mb-4">
          <div class="card p-4">
            <p><a href="{% url 'insight-details' post.slug %}">{{ post.title }}</a></p>
            <a href="{% url 'profile' post.author.username %}" class="mb-0"><strong> by {{ post.author }}</strong></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="text-center mb-5">
    <a href="{% url 'insights' %}" class="btn rounded mb-0 text-nowrap button-style">More Insights</a>
  </div>
</div>
{% endblock %}