{% load static %}
<!-- Column for filter categories and search -->
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-12">
            <div class="card p-4" id="search">
                <form action="{% url 'insights' %}" method="get" class="d-flex m-3" role="search">
                    <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn rounded mb-0 text-nowrap button-style" type="submit">Search</button>
                </form>
                <span class="fw-bold fs-2 text-center my-3">Categories</span>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action">
                        <a href="{% url 'insights' %}">View All</a>
                    </li>
                    {% for category in categories %}
                    <li class="list-group-item list-group-item-action">
                        <a href="{% url 'category-posts' category.name %}">{{ category.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>