{% load crispy_forms_tags %}

<!-- Social Icons and Footer Content -->
<div>
    <!-- Link to developer profile -->
    <a href="{% url 'about' %}" role="button" aria-label="Site Owner View">
        <i class="fa fa-address-card icon" aria-hidden="true"></i>
    </a>
    <a href="{% url 'contact' %}" role="button" aria-label="Contact Form">
        <i class="fa fa-envelope icon mx-3" aria-hidden="true"></i>
    </a>
</div>
<!-- Footer Section -->
<div class="text-center p-3">
    © 2024 Copyright: Blossom Therapy Insights - For educational purposes
</div>