{% load static %}
{% load crispy_forms_tags %}
<!-- Social Icons -->
<div>
    <!-- Include the contact form modal -->
    {% include 'about/contact.html' %}
    <!-- Contact button to trigger the modal -->
    <button type="button" class="icon-size icon btn" data-bs-toggle="modal" data-bs-target="#contactModal">
        <i class="fa fa-envelope icon mx-3" aria-hidden="true"></i>
    </button>
    <!-- Link to developer profile -->
    <a href="{% url 'dev_profile' %}" role="button" aria-label="Site Owner View">
        <i class="fa fa-address-card icon"></i>
    </a>
</div>
<div class="text-center p-3">
    © 2024 Copyright: Blossom Therapy Insights - For educational purposes
</div>