{% load static %}
<!-- Social Icons -->
<div>
    <a href="https://github.com/Indre-V" target="_blank" aria-label="Go to Github page of developer.">
        <i class="fa-brands fa-github icon"></i>
    </a>
    <a href="https://www.linkedin.com/in/indre-vilickaite/" target="_blank"
        aria-label="Go to LinkedIn page of developer.">
        <i class="fa-brands fa-linkedin-in icon mx-2"></i>
    </a>
    <a href="mailto:indre.vilickaite@gmail.com" role="button" aria-label="Email the developer">
        <i class="fa fa-envelope icon"></i>
    </a>
</div>
<div class="text-center p-3">
    © 2024 Copyright: Blossom Therapy Insights - For educational purposes
</div>